* {
  margin: 0;
  padding: 0;
}
.add-right {
}

.add-right-main {
  /* background-color: palevioletred; */
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.MuiPickersLayout-root {
  width: 30%;
}
